/* Source Code Pro is under the Open Font License. See https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL */

@font-face {
  font-family: 'Parkinsans';
  src: local('Parkinsans'), local('Parkinsans'),
    url('../fonts/Parkinsans-VariableFont_wght-f3d4cfde.woff2') format('woff2');
}

@font-face {
  font-family: 'Parkinsans';
  font-style: normal;
  font-weight: 300;
  src: local('Parkinsans Light'), local('Parkinsans-Light'),
    url('../fonts/Parkinsans-Light-4cee5722.woff2') format('woff2');
}

@font-face {
  font-family: 'Parkinsans';
  font-style: italic;
  font-weight: 300;
  src: local('Parkinsans Light'), local('Parkinsans-Light'),
    url('../fonts/Parkinsans-Light-4cee5722.woff2') format('woff2');
}

@font-face {
  font-family: 'Parkinsans';
  font-style: normal;
  font-weight: 400;
  src: local('Parkinsans Regular'), local('Parkinsans-Regular'),
    url('../fonts/Parkinsans-Regular-5dd78a4a.woff2') format('woff2');
}

@font-face {
  font-family: 'Parkinsans';
  font-style: italic;
  font-weight: 400;
  src: local('Parkinsans'), local('Parkinsans-Regular'),
    url('../fonts/Parkinsans-Regular-5dd78a4a.woff2') format('woff2');
}

@font-face {
  font-family: 'Parkinsans';
  font-style: normal;
  font-weight: 600;
  src: local('Parkinsans SemiBold'), local('Parkinsans-SemiBold'),
    url('../fonts/Parkinsans-SemiBold-8b199bfb.woff2') format('woff2');
}

@font-face {
  font-family: 'Parkinsans';
  font-style: italic;
  font-weight: 600;
  src: local('Parkinsans SemiBold'), local('Parkinsans-SemiBold'),
    url('../fonts/Parkinsans-SemiBold-8b199bfb.woff2') format('woff2');
}

@font-face {
  font-family: 'Parkinsans';
  font-style: normal;
  font-weight: 700;
  src: local('Parkinsans Bold'), local('Parkinsans-Bold'),
    url('../fonts/Parkinsans-Bold-b1e62f3e.woff2') format('woff2');
}

@font-face {
  font-family: 'Parkinsans';
  font-style: italic;
  font-weight: 700;
  src: local('Parkinsans Bold'), local('Parkinsans-Bold'),
    url('../fonts/Parkinsans-Bold-b1e62f3e.woff2') format('woff2');
}

@font-face {
  font-family: 'Parkinsans';
  font-style: normal;
  font-weight: 800;
  src: local('Parkinsans ExtraBold'), local('Parkinsans-ExtraBold'),
    url('../fonts/Parkinsans-ExtraBold-8a0ec73b.woff2') format('woff2');
}

@font-face {
  font-family: 'Parkinsans';
  font-style: italic;
  font-weight: 800;
  src: local('Parkinsans ExtraBold '), local('Parkinsans-ExtraBold'),
    url('../fonts/Parkinsans-ExtraBold-8a0ec73b.woff2') format('woff2');
}