/* Globals */

:root {
  --sidebar-target-width: 300px;
  --sidebar-width: min(var(--sidebar-target-width), 80vw);
  --sidebar-resize-indicator-width: 8px;
  --sidebar-resize-indicator-space: 2px;
  --page-padding: 15px;
  --content-max-width: 750px;
  --menu-bar-height: 50px;
  --mono-font: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace;
  --code-font-size: 0.875em;
  /* please adjust the ace font size accordingly in editor.js */
  --searchbar-margin-block-start: 2px;
}

/* Themes */

.ayu,
.coal,
.light,
.navy,
.rust,
html:not(.js) {
  --bg: #f8f9fd;
  --fg: #242038;

  --sidebar-bg: #0d6abf;
  --sidebar-fg: #edf0f5;
  --sidebar-non-existant: #3c83c6;
  --sidebar-active: #f8f9fd;
  --sidebar-spacer: #3c83c6;

  --scrollbar: #1061b2;

  --icons: #0d6abf;
  --icons-hover: #242038;

  --links: #0d6abf;

  --inline-code-color: #242038;

  --theme-popup-bg: #f8f9fd;
  --theme-popup-border: #cbe6f9;
  --theme-hover: #cbe6f9;

  --quote-bg: #e0f2ff;
  --quote-border: #cbe6f9;

  --warning-border: #fd9a00;

  --table-border-color: #cbe6f9;
  --table-header-bg: #cbe6f9;
  --table-alternate-bg: #f8f9fd;

  --searchbar-border-color: #cbe6f9;
  --searchbar-bg: #f8f9fd;
  --searchbar-fg: #242038;
  --searchbar-shadow-color: #cbe6f9;
  --searchresults-header-fg: #242038;
  --searchresults-border-color: #cbe6f9;
  --searchresults-li-bg: #f8f9fd;
  --search-mark-bg: #cbe6f9;

  --color-scheme: light;

  /* Same as `--icons` */
  --copy-button-filter: invert(26%) sepia(8%) saturate(575%) hue-rotate(169deg) brightness(87%) contrast(82%);
  /* Same as `--sidebar-active` */
  --copy-button-filter-hover: invert(36%) sepia(70%) saturate(503%) hue-rotate(167deg) brightness(98%) contrast(89%);

  --footnote-highlight: #0d6abf;

  --blockquote-note-color: #4493f8;
  --blockquote-tip-color: #08ae08;
  --blockquote-important-color: #ab7df8;
  --blockquote-warning-color: #d29922;
  --blockquote-caution-color: #d91b29;

  --sidebar-header-border-color: #3c83c6;
}