/* Globals */

:root {
  --sidebar-target-width: 300px;
  --sidebar-width: min(var(--sidebar-target-width), 80vw);
  --sidebar-resize-indicator-width: 8px;
  --sidebar-resize-indicator-space: 2px;
  --page-padding: 15px;
  --content-max-width: 750px;
  --menu-bar-height: 50px;
  --mono-font: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace;
  --code-font-size: 0.875em;
  /* please adjust the ace font size accordingly in editor.js */
}

/* Themes */

.ayu,
.coal,
.light,
.navy,
.rust,
html:not(.js) {
  --bg: #f8f9fd;
  --fg: #242038;

  --sidebar-bg: #0d6abf;
  --sidebar-fg: #edf0f5;
  --sidebar-non-existant: #3c83c6;
  --sidebar-active: #1061b2;
  --sidebar-spacer: #3c83c6;

  --scrollbar: #1061b2;

  --icons: #0d6abf;
  --icons-nav: #f8f9fd;
  --icons-hover: #242038;

  --links: #0d6abf;

  --inline-code-color: #242038;

  --theme-popup-bg: #f8f9fd;
  --theme-popup-border: #cbe6f9;
  --theme-hover: #cbe6f9;

  --quote-bg: #e0f2ff;
  --quote-border: #cbe6f9;

  --warning-border: #fd9a00;

  --table-border-color: #cbe6f9;
  --table-header-bg: #cbe6f9;
  --table-alternate-bg: #f8f9fd;

  --searchbar-border-color: #cbe6f9;
  --searchbar-bg: #f8f9fd;
  --searchbar-fg: #242038;
  --searchbar-shadow-color: #cbe6f9;
  --searchresults-header-fg: #242038;
  --searchresults-border-color: #cbe6f9;
  --searchresults-li-bg: #f8f9fd;
  --search-mark-bg: #cbe6f9;

  --color-scheme: light;

  /* Same as `--icons` */
  --copy-button-filter: invert(45.49%);
  /* Same as `--sidebar-active` */
  --copy-button-filter-hover: invert(14%) sepia(93%) saturate(4250%) hue-rotate(243deg) brightness(99%) contrast(130%);

  --footnote-highlight: #0d6abf;
}