code.hljs {
  color: #4c4f69;
  background: #eff1f5;
  overflow-x: auto;
}

.hljs-keyword {
  color: #8839ef
}

.hljs-built_in {
  color: #d20f39
}

.hljs-type {
  color: #df8e1d
}

.hljs-literal {
  color: #fe640b
}

.hljs-number {
  color: #fe640b
}

.hljs-operator {
  color: #04a5e5
}

.hljs-punctuation {
  color: #5c5f77
}

.hljs-property {
  color: #179299
}

.hljs-regexp {
  color: #ea76cb
}

.hljs-string {
  color: #40a02b
}

.hljs-char.escape_ {
  color: #40a02b
}

.hljs-subst {
  color: #6c6f85
}

.hljs-symbol {
  color: #dd7878
}

.hljs-variable {
  color: #8839ef
}

.hljs-variable.language_ {
  color: #8839ef
}

.hljs-variable.constant_ {
  color: #fe640b
}

.hljs-title {
  color: #1e66f5
}

.hljs-title.class_ {
  color: #df8e1d
}

.hljs-title.function_ {
  color: #1e66f5
}

.hljs-params {
  color: #4c4f69
}

.hljs-comment {
  color: #7c7f93
}

.hljs-doctag {
  color: #d20f39
}

.hljs-meta {
  color: #fe640b
}

.hljs-section {
  color: #1e66f5
}

.hljs-tag {
  color: #179299
}

.hljs-name {
  color: #8839ef
}

.hljs-attr {
  color: #1e66f5
}

.hljs-attribute {
  color: #40a02b
}

.hljs-bullet {
  color: #179299
}

.hljs- {
  color: #40a02b
}

.hljs-emphasis {
  color: #d20f39;
  font-style: italic
}

.hljs-strong {
  color: #d20f39;
  font-weight: bold
}

.hljs-formula {
  color: #179299
}

.hljs-link {
  color: #209fb5;
  font-style: italic
}

.hljs-quote {
  color: #40a02b;
  font-style: italic
}

.hljs-selector-tag {
  color: #df8e1d
}

.hljs-selector-id {
  color: #1e66f5
}

.hljs-selector-class {
  color: #179299
}

.hljs-selector-attr {
  color: #8839ef
}

.hljs-selector-pseudo {
  color: #179299
}

.hljs-template-tag {
  color: #dd7878
}

.hljs-template-variable {
  color: #dd7878
}

.hljs-addition {
  color: #40a02b;
  background: rgba(64, 160, 43, .15)
}

.hljs-deletion {
  color: #d20f39;
  background: rgba(210, 15, 57, .15)
}